- @twilio-labs/design-systems-eng

# Design tokens - ensure someone from design reviews to keep in sync with Figma

/packages/paste-design-tokens/tokens @twilio-labs/design-systems-pd

# Icons - ensure changes to icons are reviewed by a designer

/packages/paste-icons/svg @twilio-labs/design-systems-pd

# Website - ensure changes to website page copy is reviewed by a designer

/packages/paste-website/src/pages @twilio-labs/design-systems-pd
