node_modules
bower_components
dist
bin
__testfixtures__
__fixtures__

packages/paste-icons/cjs
packages/paste-icons/esm
packages/paste-icons/json
packages/paste-theme-designer/public
packages/paste-theme-designer/out
packages/paste-token-contrast-checker/public
.cache
.next
.yarn

packages/**/dist/*

tsconfig.build.tsbuildinfo
**/*.d.ts
