node_modules
bower_components
lib
dist
bin
__testfixtures__

packages/icons/cjs
packages/icons/esm
packages/icons/json
apps/website/public
apps/remix/public
apps/remix/out
apps/token-contrast-checker/public
.cache
.next
.yarn

apps/**/dist/*
packages/**/dist/*
templates/**/dist/*

tsconfig.build.tsbuildinfo
**/*.d.ts
