node_modules
bower_components
dist
bin
__testfixtures__

packages/paste-icons/cjs
packages/paste-icons/esm
packages/paste-icons/json
packages/paste-theme-designer/public/
.cache
.next
pnpm-lock.yaml

tsconfig.build.tsbuildinfo
**/*.d.ts
.codesandbox/ci.json
build.icon-list.js

**/*.hbs
