**/*.ts
**/*.tsx
**/*.js
**/*.jsx
**/*.json
**/*.jsonc
**/*.css
**/*.md
**/*.mdx

node_modules
bower_components
dist
bin
__testfixtures__

packages/paste-design-tokens/docs
packages/paste-icons/cjs
packages/paste-icons/esm
packages/paste-icons/json
packages/paste-theme-designer/public/
.cache
.next
.yarn

tsconfig.build.tsbuildinfo
**/*.d.ts
.codesandbox/ci.json
build.icon-list.js

**/*.hbs
apps/backend/supabase/schema.gen.ts
