[dev]
  command = "yarn start:website"
  targetPort = 8000
  framework = "#custom"

[context.deploy-preview]
  # only do a preview deply when there is a website change
  ignore = "git diff --quiet HEAD^ main -- packages/paste-website packages/paste-theme-designer"

[context.deploy-preview.environment]
  GATSBY_ENVIRONMENT_CONTEXT = "deploy-preview"

[context.branch-deploy.environment]
  GATSBY_ENVIRONMENT_CONTEXT = "branch-deploy"

[context.production.environment]
  GATSBY_ENVIRONMENT_CONTEXT = "production"

[functions]
  directory = "packages/paste-website/functions"
  external_node_modules = ["chrome-aws-lambda", "puppeteer-core"]

[[redirects]]
  from = "/tokens/how-to-compose-custom-ui-with-tokens"
  to = "/customization/composing-custom-components-with-design-tokens"

[[redirects]]
  from = "/customization"
  to = "/customization/paste-for-programmable-apps"
