[functions]
  external_node_modules = ["@sparticuz/chromium", "puppeteer-core", "@swc"]

[context.deploy-preview.environment]
  NEXT_PUBLIC_ENVIRONMENT_CONTEXT = "deploy-preview"

[context.branch-deploy.environment]
  NEXT_PUBLIC_ENVIRONMENT_CONTEXT = "branch-deploy"

[context.production.environment]
  NEXT_PUBLIC_ENVIRONMENT_CONTEXT = "production"

# INTRODUCTION/
[[redirects]]
  from = '/getting-started/design'
  to = '/introduction/for-designers/design-guidelines'

[[redirects]]
  from = "/getting-started/engineering"
  to = "/introduction/for-engineers/quickstart"

[[redirects]]
  from = '/getting-started/manual-installation'
  to = '/introduction/for-engineers/manual-installation'

[[redirects]]
  from = '/icons/how-to-add-an-icon'
  to = '/introduction/contributing/icons'

[[redirects]]
  from = '/patterns/contribute'
  to = '/introduction/contributing/patterns'

[[redirects]]
  from = '/principles'
  to = '/introduction/about-paste'

[[redirects]]
  from = '/getting-started/faqs'
  to = '/introduction/about-paste'

[[redirects]]
  from = '/getting-started/working-guide'
  to = '/introduction/working-with-us'

# FOUNDATIONS/
[[redirects]]
  from = '/content/*'
  to = '/foundations/content/:splat'

[[redirects]]
  from = '/illustrations'
  to = '/foundations/illustrations'

# COMPONENTS/
[[redirects]]
  from = '/icons/*'
  to = '/components/icons/:splat'

[[redirects]]
  from = '/layout/*'
  to = '/components/:splat'

# CORE/
[[redirects]]
  from = '/libraries/*'
  to = '/core/libraries/:splat'

# THEME/
[[redirects]]
  from = '/core/theme-package'
  to = '/theme/'

[[redirects]]
  from = '/tokens/theme-package'
  to = '/theme/'

[[redirects]]
  from = '/core/changing-theme'
  to = '/theme/changing-theme'

# CUSTOMIZATION/
[[redirects]]
  from = "/tokens/how-to-compose-custom-ui-with-tokens"
  to = "/customization/composing-custom-components-with-design-tokens"

# BLOG/
[[redirects]]
  from = '/articles'
  to = '/blog'

[[headers]]
  for = "/*"
  [headers.values]
    X-Shenanigans = "none"

[build.environment]
  YARN_ENABLE_GLOBAL_CACHE = "true"
  YARN_GLOBAL_FOLDER = "/opt/buildhome/.yarn_cache"
