name: Package Publish

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'chore(release): publish')"
    strategy:
      matrix:
        node-version: [12.18.x]

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: "https://registry.npmjs.org"
          scope: twilio-paste
      - name: Checkout full history set email and user
        run: git remote rm origin && git remote add origin "https://$GH_USER_NAME:$GH_TOKEN@github.com/twilio-labs/paste.git" && git fetch && git config user.email paste@twilio.com && git config user.name PasteBot && git checkout "${GITHUB_REF:11}"
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GH_USER_NAME: ${{ secrets.GH_USER_NAME }}
      - name: Install dependencies
        run: yarn install
      - name: Bootstrap repository
        run: yarn bootstrap
      - name: Publish packages
        run: yarn release:stable:ci
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
      - name: Deploy storybook
        run: yarn release:storybook
