# name: VRT Main

# on:
#   push:
#     paths:
#       - "packages/**"
#     branches:
#       - main

# jobs:
#   chromatic:
#     runs-on: ubuntu-latest
#     if: "!contains(github.event.head_commit.message, 'chore(release): version packages')"

#     steps:
#       - name: Checkout Repo
#         uses: actions/checkout@v2
#         with:
#           fetch-depth: 0

#       - name: Setup Node.js 12.x
#         uses: actions/setup-node@v2
#         with:
#           node-version: 12.x

#       - name: Get yarn cache directory path
#         id: yarn-cache-dir-path
#         run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

#       - name: Load Yarn cache
#         uses: actions/cache@v2
#         id: yarn_cache_id
#         with:
#           path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
#           key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
#           restore-keys: |
#             ${{ runner.os }}-yarn

#       - name: restore lerna
#         uses: actions/cache@v2
#         id: node_modules_cache_id
#         with:
#           path: |
#             node_modules
#             */*/node_modules
#           key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

#       - name: Install Dependencies
#         if: steps.yarn_cache_id.outputs.cache-hit != 'true' || steps.node_modules_cache_id.outputs.cache-hit != 'true'
#         run: yarn install --immutable

#       - name: Build packages
#         run: yarn build

#       - name: Run Chromatic
#         uses: chromaui/action@v1
#         with:
#           projectToken: ${{ secrets.CHROMA_APP_CODE }}
#           token: ${{ secrets.GITHUB_TOKEN }}
#           buildScriptName: "build:storybook"
#           autoAcceptChanges: "main"
#           exitOnceUploaded: true
